# ASP.NET Core
bin/
obj/
.vscode/
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

# ASP.NET Core packages
*.nupkg
*.snupkg
project.lock.json
project.fragment.lock.json
artifacts/

# Logs
*.log
.bin
.v2
# User-specific files
*.user
*.dotsettings

# Azure Functions local settings file
local.settings.json

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Configuration files
appsettings*.json

# Angular
node_modules/
dist/
tmp/
temp/

# Angular environment files
src/environments/environment*.ts

# IDEs and Editors
.idea/
*.sublime-project
*.sublime-workspace

# VS Code
.vscode/
.history/


# Mac
*.DS_Store

# Windows
Thumbs.db
ehthumbs.db
/TECHNICAL/CODE/JudeAPI/JudeAPI/APIError.txt
*.bin
*.vsidx
TECHNICAL/CODE/.vs/
**/environment.ts
/TECHNICAL/CODE/JudeAPI/.vs/ProjectEvaluation
/TECHNICAL/CODE/JudeAPI/.vs/WebApp/DesignTimeBuild
/TECHNICAL/CODE/JudeAPI/.vs/WebApp/FileContentIndex
/TECHNICAL/CODE/JudeAPI/.vs/WebApp/v17
/TECHNICAL/CODE/JudeAPI/JudeAPI/.vs/JudeAPI/v17
/TECHNICAL/CODE/JudeAPI/JudeAPI/.config
/TECHNICAL/CODE/JudeAPI/.vs/WebApp/config
/TECHNICAL/CODE/JudeAPI/.vs/WebApp/project-colors.json
/TECHNICAL/CODE/JudeAPI/JudeAPI/Properties/PublishProfiles
/TECHNICAL/CODE/JudeAPI/JudeAPI/.vs/AreaOnlineAPI/v17
