.order-invoice-fixing{
    margin-bottom: 2%;
}
.Address_invoice{
    margin-bottom: 0;
}

.spaced-row td {
    padding: 7px 0; /* Adjust as needed */
}

.textcolor {
    color: var(--fc-gray-800);
}

.order-invoice-fixing1{
    margin-right: 48%;
    margin-left: 1%;
}

.invoice234{
    height:130px;
    width:130px;
}
.uv{
    text-align: center;
    font-size: 19px;
}

.h4{
    font-size: 15px;
}
@media screen and (min-device-width: 300px) and (max-device-width: 380px) {
    .orderid-container{
        flex-direction: column !important;
        align-items: flex-start !important;
    }
 }

@media screen and (min-device-width: 300px) and (max-device-width: 480px) {  
.order-invoice-fixing1 {
    margin-right: 0%;
   /* margin-left: -54%; */
    margin-top: 5%;
}

.invoice234{
    height:70px;
    width: 70px;
}

.uv{
    text-align: center;
    font-size: 13px;
}

.h4{
    font-size: 15px;

}

.my-5{
    margin-bottom: 0 !important;
}

.invoice-container{
    flex-direction: column !important;
    align-items: flex-start !important;
}
    
.invoice-to {
    margin-left: 0 !important; /* remove left margin */
     margin-top: 10px; /* optional spacing */
}
}

@media screen and (min-device-width: 500px) and (max-device-width: 800px){
    .order-invoice-fixing1{
        margin-right: 35%;
    }
    
    .invoice234{
        height:110px;
        width: 110px;
    }

}

/* .order-invoice-fixing{
    margin-bottom: 2%;
}

.order-invoice-fixing1{
    margin-right: 48%;
}
.invoice234{
height:130px;
width:130px;
}

@media(max-width:480px){
.order-invoice-fixing1 {
    margin-right: 0%;
    margin-left: -54%;
    margin-top: 62%;
}
.invoice234{
    height:150px;
    width:150px;
    }
    .uv{
        text-align: center;
        font-size: 13px;
    }
}
.uv{
    text-align: center;
    font-size: 19px;
} */