<!-- Modal starts -->

<!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ModalTitle}}</h5>
        <button type="button" class="btn btn-primary btn-rounded btn-icon" data-bs-dismiss="modal" aria-label="Close"  (click)="closeClick()">
          <i class="ti-close"></i>
        </button>
      </div>
      <app-show-detail [order]="order" *ngIf ="ActivateAddEditorder">

      </app-show-detail>                    
    </div>
  </div>
</div>  -->

<!-- Modal starts -->

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ModalTitle}}</h5>
        <button type="button" class="btn btn-primary btn-rounded btn-icon" data-bs-dismiss="modal" aria-label="Close"
          (click)="closeClick()">
          <i class="ti-close"></i>
        </button>
      </div>
      <app-show-detail [order]="order" [actionClick]="actionClick" *ngIf="ActivateAddEditorder">

      </app-show-detail>
    </div>
  </div>
</div>
<!-- Modal Ends -->

<div class="card">
  <div class="card-body">
    <h4 class="card-title">Orders</h4>
    <div class="row">
      <div class="col-12">
        <div class="text-left">
          <div class="col-sm-12 row">
            <div class="col-sm-2">
              <div class="form-group" style="margin-bottom: 0px;">
                <label for="exampleInputOrderid1">Order ID</label>
                <input type="number" class="form-control" id="exampleInputOrderid1" placeholder="Enter ID"
                  name="orderID" [(ngModel)]="OrderID"[min]="1"/>
              </div>
              <p *ngIf="orderIdError" style="color:red;">{{ orderIdError }}</p>
            </div>

            <div class="col-sm-2 fname " >
              <div class="form-group " >
                <label for="exampleInputFirstname1">First Name</label>
                <input type="text" class="form-control" id="exampleInputFirstname1" placeholder="First Name"
                  name="firstName" [(ngModel)]="FirstName"  />
              </div>
              <p *ngIf="firstNameError" style="color:red;">{{ firstNameError }}</p>
            </div>

            <div class="col-sm-2">
              <div class="form-group " >
                <label for="exampleInputLastname1">Last Name</label>
                <input type="email" class="form-control" id="exampleInputLastname1" placeholder="Last Name"
                  name="lastName" [(ngModel)]="LastName"  />
              </div>
              <p *ngIf="lastNameError" style="color:red;">{{ lastNameError }}</p>
            </div>
            <div class="col-sm-2">
              <div class="form-group  " >
              <label for="exampleInputStatus">Status</label>
              <select class="form-select" aria-label="Default select example" [(ngModel)]="OrderStatusID"
                style="Height:46px;">
                <option disabled selected >--Select--</option>
                <option *ngFor="let x of OrderStatusList" [value]="x.OrderStatusID">
                  {{ x.OrderStatusDescription }}
                </option>
              </select>
              </div>
            </div>
            <div class="col-sm-2" style="margin-top:4px;">
              <p>Shop Name</p>
              <div class="untitled-page-block2 layout">
                <input 
                class="form-control shop-input"
                  [(ngModel)]="CompanyNameSearch" 
                  type="text" 
                  placeholder="Shop Name"
                  (keyup)="onCompanyNameType()" 
                  (focus)="onFocusInput()" 
                  (blur)="onBlurInput()"
                />
              </div>
            
              <div class="form-group showlayout1" *ngIf="showDropdown">
                <a 
                  class="list-group-item list-group-item-action" 
                  *ngFor="let dataItem of CompanyList?.slice(0,7)"
                  (click)="onSelectName(dataItem)"
                >
                  {{ dataItem.CompanyName }}
                </a>
              </div>
            </div>
            
            <div class="d-flex align-items-start col-sm-2 pt-5">
              <p>&nbsp;</p>
              <button type="submit" class="btn btn-primary me-2" (click)="refreshorderList()">
                Search
              </button>
              <button type="button" class="btn btn-secondary " (click)="clearFilters()">
                Clear
              </button>
            </div>
            
          </div>
        </div>
        <!-- <div class="justify-content-end d-flex">
          <button type="button" class="export-btn btn fa fa-file-excel-o mt-4 ms-2 excelbutton"
            (click)="exportToExcel()">
            <i class="ti-file me-1"></i>Export to Excel</button>
        </div> -->
        <div class="row mb-4 mt-2">
          <div class="col-md-6 col-sm-12 d-flex align-items-center ">
            <label for="itemsPerPage" class="mr-2">Items per page:&nbsp;</label>
            <select id="itemsPerPage" class="border rounded px-2 py-1" (change)="onItemsPerPageChange($event)">
              <option value="5" [selected]="itemsPerPage === 5">5</option>
              <option value="10" [selected]="itemsPerPage === 10">10</option>
              <option value="20" [selected]="itemsPerPage === 20">20</option>
              <option value="30" [selected]="itemsPerPage === 30">30</option>
            </select>
          </div>
          <div class="col-md-6 col-sm-12 d-flex justify-content-end">
            <button type="button" class="export-btn btn fa fa-file-excel-o excelbutton mt-2 md:mt-0" (click)="exportToExcel()" style="padding: 0px !important;">
              <i class="ti-file me-1"></i>Export to Excel
            </button>
          </div>
        </div> 
        <div class="table-responsive">
          <table id="show-order" class="table">
            <thead>
              <tr class="bg-primary text-white">
                <th>Order ID</th>
                <th>Name</th>
                <th class="text-center">Status</th>
                <th>Date</th>
                <th>Shop</th>
                <th>Delivery Type</th>
                <th>Price</th>
                <th style="text-align: center;">Action</th>
              </tr>
            </thead>
            <tbody>
               <tr *ngIf="OrderList.length == 0">
                <td colspan="8" class="text-center">No records found</td>
              </tr>
              <tr *ngFor="let dataItem of paginatedOrder; let i = index">
                <td>{{dataItem.OrderID}}</td>
                <td>{{ dataItem.FirstName + " " + dataItem.LastName}}</td>
                <td class="text-center">   
                  <label class="badge" [ngClass]="[
                  dataItem.OrderStatusDescription == 'Delivered'
                    ? 'badge-success'
                    : dataItem.OrderStatusDescription == 'Ready for Pickup'
                    ? 'badge-warning'
                    : dataItem.OrderStatusDescription == 'On the way'
                    ? 'badge-info'
                    : dataItem.OrderStatusDescription == 'Cancelled'
                    ? 'badge-danger'
                    : dataItem.OrderStatusDescription == 'Returned'
                    ? 'badge-returned'
                    : dataItem.OrderStatusDescription == 'Rejected'
                    ? 'badge-danger'
                    : dataItem.OrderStatusDescription == 'Placed'
                    ? 'badge-info'
                    : dataItem.OrderStatusDescription == 'Confirmed'
                    ? 'badge-success'
                    : dataItem.OrderStatusDescription == 'Initiated'
                    ? 'badge-returned'
                    : dataItem.OrderStatusDescription == 'Payment Success'
                    ? 'badge-success'
                    : dataItem.OrderStatusDescription == 'Payment Failed'
                    ? 'badge-danger'
                    : null
                ]"> <b>{{dataItem.OrderStatusDescription}}</b></label></td>
                <td>{{dataItem.OrderDate}}</td>
                <td class="orders_company_alignment">{{dataItem.CompanyName}}</td>
                <td>{{dataItem.OrderDeliveryTypeName}}</td>
                <td>{{currency}} {{dataItem.TotalOrderPrice | number:'1.2-2'}}</td>
                <!-- <td>
                  <button type="button" class="btn btn-light" (click)="invoiceClick(dataItem)" data-bs-toggle="modal"
                    data-bs-target="#exampleModal" data-backdrop="static" data-keyboard="false"
                    *ngIf="dataItem.OrderInvoiceNumber">
                    <i class="icon-paper menu-icon"></i>Invoice</button>
                </td> -->
                <td style="width: 70px;">
                  <button type="button" class="btn btn-light" (click)="viewClick(dataItem)" data-bs-toggle="modal"
                  data-bs-target="#exampleModal" data-backdrop="static" data-keyboard="false">
                  <i class="bi bi-eye text-primary"></i>
                  View</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between align-items-start align-items-md-center mt-3  px-md-4"><!-- px-3 -->
          <span class="text-muted mb-2 mb-md-0">
            Showing 
            {{ (currentPage - 1) * itemsPerPage + 1 }} 
            to 
            {{ min(currentPage * itemsPerPage, OrderList.length) }} 
            of 
            {{ OrderList.length }} entries
          </span>
        
          <nav>
            <ul class="pagination mb-0">
              <!-- Previous Button -->
              <li class="page-item" [class.disabled]="currentPage === 1">
                <a class="page-link" (click)="changePage(currentPage - 1)"><<</a>
              </li>
          
              <!-- Page 1 -->
              <li class="page-item" [class.active]="currentPage === 1">
                <a class="page-link" (click)="changePage(1)">1</a>
              </li>
          
              <!-- Ellipsis before middle pages -->
              <li class="page-item disabled" *ngIf="getMiddlePages()[0] > 2">
                <span class="page-link">...</span>
              </li>
          
              <!-- Middle Pages -->
              <ng-container *ngFor="let page of getMiddlePages()">
                <li class="page-item" [class.active]="currentPage === page">
                  <a class="page-link" (click)="changePage(page)">{{ page }}</a>
                </li>
              </ng-container>
          
              <!-- Ellipsis after middle pages -->
              <li class="page-item disabled" *ngIf="getMiddlePages().includes(totalPages - 1) === false && totalPages > 5">
                <span class="page-link">...</span>
              </li>
          
              <!-- Last Page -->
              <li class="page-item" *ngIf="totalPages > 1" [class.active]="currentPage === totalPages">
                <a class="page-link" (click)="changePage(totalPages)">{{ totalPages }}</a>
              </li>
          
              <!-- Next Button -->
              <li class="page-item" [class.disabled]="currentPage === totalPages">
                <a class="page-link" (click)="changePage(currentPage + 1)">>></a>
              </li>
            </ul>
          </nav>
          
        </div> 
      </div>
    </div>
  </div>
</div>