<div class="modal-body">
  <div class="col-12">
      <div class="card">
        <div class="card-body">      
          <!-- <form class="form-sample"> -->           
            <div class="row">
              <div class="col-md-12">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Source <span class="text-danger">*</span></label>
                  <div class="col-sm-9">
                    <input 
                      type="text" 
                      class="form-control" 
                      [ngClass]="Companysource_errormsg ? 'is-invalid' : ''" 
                      [(ngModel)]="CompanySource"
                      placeholder="Enter Shop Source Name"
                      (input)="validateCompanySource()" 
                      (blur)="validateCompanySource()"
                    />
                    <div *ngIf="Companysource_errormsg" class="text-danger">{{ Companysource_errormsg }}</div>
                  </div>
                  
                   
                </div>
              </div>             
          
            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" name="IsActive"  checked [(ngModel)]="IsActive"/>
                    Active                    
                  </label>
                </div> 
              </div>                
            </div>              
          <!-- </form> -->
        </div>
      </div>
    </div>

</div>
<div class="modal-footer">

  <button (click)="addCompanySource()" *ngIf="compsource.CompanySourceID==0" class="btn btn-primary">
      Add
  </button>
  
  <button (click)="updateCompanySource()" *ngIf="compsource.CompanySourceID!=0" class="btn btn-primary">
      Update
  </button>
</div>



