<!-- Modal starts -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ ModalTitle }}</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close" (click)="closeClick()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <app-update-edit-rev [rev]="rev" *ngIf="ActivateUpdateEditRevComp">
      </app-update-edit-rev>
    </div>
  </div>
</div>
<!-- Modal Ends -->

<div class="card">
  <div class="card-body">
    <h4 class="card-title">Review</h4>
    <div class="row">
      <div class="col-sm-11 row mb-2">
        <div class="col-lg-4 col-md-4 col-sm-6">
          <p>Shop Name</p>
          <div class="shop-search-wrapper">
          <div class="untitled-page-block2 layout">
            <input class="form-control searchbtn" [(ngModel)]="CompanyNameSearch" type="text" placeholder="Search shop name here"
              (keyup)="onCompanyNameType()" (click)="onInputClick()">
          </div>
          <div class="form-group showReview1" *ngIf="showDropdown">
            <a class="list-group-item list-group-item-action" *ngFor="let dataItem of CompanyList?.slice(0,7)"
              (click)="onSelectName(dataItem)">
              {{ dataItem.CompanyName }}
            </a>
             <a *ngIf="CompanyList?.length === 0" class="list-group-item disabled text-muted">
                No Shop found
              </a>
          </div>
        </div>
        </div>

      <div class="col-lg-4 col-md-4 col-sm-6">
        <p>Ratings</p>
        <select class="form-select" [(ngModel)]="selectedRating"style="height: 45px;">
          <option value="" disabled selected>Select Rating</option>
          <option *ngFor="let rate of [1,2,3,4,5]" [value]="rate">{{ rate }}</option>
        </select>
      </div>
        <div class="col-lg-4 col-md-4 col-sm-11">
          <!-- <div class="col-sm-3"> -->
            <p>&nbsp;</p>
            <button type="button" class="btn btn-primary me-2" (click)="refreshRevList()">Search</button>
            <button type="button" class="btn btn-secondary text-white" (click)="clearratingsearch()">Clear</button>
          <!-- </div> -->
        </div>
      </div>
      
      
      
      <div class="col-12">
        <div class="text-left"></div>
        <!-- <div class="justify-content-end d-flex">
          <button type="button" class="export-btn btn fa fa-file-excel-o mt-4 ms-2 excelbutton"
            (click)="exportToExcel()">
            <i class="ti-file me-1"></i>Export to Excel
          </button>
        </div> -->

        <div class="row mb-4 mt-2">
          <div class="col-md-6 col-sm-12 d-flex align-items-center ">
            <label for="itemsPerPage" class="mr-2">Items per page:&nbsp;</label>
            <select id="itemsPerPage" class="border rounded px-2 py-1" (change)="onItemsPerPageChange($event)">
              <option value="5" [selected]="itemsPerPage === 5">5</option>
              <option value="10" [selected]="itemsPerPage === 10">10</option>
              <option value="20" [selected]="itemsPerPage === 20">20</option>
              <option value="30" [selected]="itemsPerPage === 30">30</option>
            </select>
          </div>
          <div class="col-md-6 col-sm-12 d-flex justify-content-end">
            <button type="button" class="export-btn btn fa fa-file-excel-o excelbutton mt-2 md:mt-0" (click)="exportToExcel()" style="padding: 0px !important;">
              <i class="ti-file me-1"></i>Export to Excel
            </button>
          </div>
        </div> 

        <div class="table-responsive">
          <table id="show-review" class="table">
            <thead>
              <tr class="bg-primary text-white">
                <th>Sr no</th>
                <th>Customer</th>
                <th>Shop</th>
                <th>Ratings</th>
                <th>Review</th>
                <th style="text-align: center;">Status</th>
                <th style="text-align: center;">View</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="ReviewList.length == 0">
                <td colspan="7" class="text-center">No records found</td>
              </tr>
              <tr *ngFor="
                  let dataItem of paginatedReview;
                  let i = index;
                  let last = last
                ">
                <td style="width: 70px;">{{ (currentPage - 1) * itemsPerPage + i + 1 }}</td>
                <td class="truncate-text1">{{ dataItem.CustomerName }}</td>
                <td class="truncate-text1">{{ dataItem.CompanyName}}</td>
                 <td>
                  <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
                    <span>
                      <i [ngClass]="star <= dataItem.CustomerCompanyRating ? 'bi bi-star-fill star-yellow' : 'bi bi-star text-warning'"></i>
                    </span>
                  </ng-container>
                </td>
                <!-- <td>{{ dataItem.CustomerCompanyRating }}</td>-->
                <td class="truncate-text">
                  {{ dataItem.CustomerRatingDescription }}
                </td>
               
                <td style="width: 70px;">
                  <button (click)="UnPublished(dataItem)" type="button" class="btn btn-outline-info btn-fw p-2"
                    *ngIf="dataItem.IsPublished">
                    Published
                  </button>
                  <button (click)="Published(dataItem)" type="button" class="btn btn-outline-danger btn-fw p-2"
                    *ngIf="!dataItem.IsPublished">
                    UnPublished
                  </button>
                </td>
                <td style="width: 70px;"> <button type="button" class="btn btn-light"  data-bs-toggle="modal"
                  data-bs-target="#reviewModal" data-backdrop="static" data-keyboard="false"
                  (click)="openModal(dataItem)">
                  <i class="bi bi-eye text-primary"></i>
                  View
                </button></td>
                <!-- {{last ? bindDatatableTS() : ''}} -->
              </tr>
            </tbody>
          </table>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between align-items-start align-items-md-center mt-3  px-md-4"><!-- px-3 -->
        <span class="text-muted mb-2 mb-md-0">
          Showing 
          {{ (currentPage - 1) * itemsPerPage + 1 }} 
          to 
          {{ min(currentPage * itemsPerPage, ReviewList.length) }} 
          of 
          {{ ReviewList.length }} entries
        </span>
      
        <nav>
          <ul class="pagination mb-0">
            <!-- Previous Button -->
            <li class="page-item" [class.disabled]="currentPage === 1">
              <a class="page-link" (click)="changePage(currentPage - 1)"><<</a>
            </li>
        
            <!-- Page 1 -->
            <li class="page-item" [class.active]="currentPage === 1">
              <a class="page-link" (click)="changePage(1)">1</a>
            </li>
        
            <!-- Ellipsis before middle pages -->
            <li class="page-item disabled" *ngIf="getMiddlePages()[0] > 2">
              <span class="page-link">...</span>
            </li>
        
            <!-- Middle Pages -->
            <ng-container *ngFor="let page of getMiddlePages()">
              <li class="page-item" [class.active]="currentPage === page">
                <a class="page-link" (click)="changePage(page)">{{ page }}</a>
              </li>
            </ng-container>
        
            <!-- Ellipsis after middle pages -->
            <li class="page-item disabled" *ngIf="getMiddlePages().includes(totalPages - 1) === false && totalPages > 5">
              <span class="page-link">...</span>
            </li>
        
            <!-- Last Page -->
            <li class="page-item" *ngIf="totalPages > 1" [class.active]="currentPage === totalPages">
              <a class="page-link" (click)="changePage(totalPages)">{{ totalPages }}</a>
            </li>
        
            <!-- Next Button -->
            <li class="page-item" [class.disabled]="currentPage === totalPages">
              <a class="page-link" (click)="changePage(currentPage + 1)">>></a>
            </li>
          </ul>
        </nav>
        
      </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="reviewModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">Review Details</h4>
        <button type="button" class="btn btn-primary btn-rounded btn-icon" data-bs-dismiss="modal" aria-label="Close">
        <i class="ti-close"></i>
        </button>
      </div>
      
      <div class="modal-body" *ngIf="selectedReview">
        <div class="review-details">
          <div class="row">
            <div class="col-3"><strong>Customer</strong></div>
            <div class="col-1"><strong>:</strong></div>
            <div class="col-lg-8 col-md-8 col-sm-12">{{ selectedReview.CustomerName }}</div>
          </div>
          <div class="row">
            <div class="col-3"><strong>Shop</strong></div>
            <div class="col-1"><strong>:</strong></div>
            <div class="col-lg-8 col-md-8 col-sm-12">{{ selectedReview.CompanyName }}</div>
          </div>
          <div class="row">
            <div class="col-3"><strong>Date</strong></div>
            <div class="col-1"><strong>:</strong></div>
            <div class="col-lg-8 col-md-8 col-sm-12">{{ selectedReview.CreatedDate | date: 'dd MMMM yyyy' }}</div>
          </div>
          <div class="row">
            <div class="col-3 "><strong>Rating </strong></div>
            <div class="col-1"><strong>:</strong></div>
            <div class="col-lg-8 col-md-8 col-sm-12">
              <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
                <span>
                  <i [ngClass]="star <= selectedReview.CustomerCompanyRating ? 'bi bi-star-fill star-yellow' : 'bi bi-star text-warning'"></i>
                </span>
              </ng-container>
            </div>
          </div>
          <div class="row">
            <div class="col-3"><strong>Review</strong></div>
            <div class="col-1"><strong>:</strong></div>
            <div class="col-lg-8 col-md-8 col-sm-12">{{ selectedReview.CustomerRatingDescription }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>