<!-- Modal starts -->

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel-2"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <input type="text" id="text1" class="form-control" [(ngModel)]="DeliveryChargeSettlementReference"
          placeholder="Enter Payment reference" />

        <br />
        <label>Total amount to be settled : &nbsp; {{currency}} {{TotalSettlementprice }}</label>
        <br />
        <br />
        <br />

        <button type="button" class="btn btn-primary me-2" (click)="submitshopsettlement()"
          [disabled]="!DeliveryChargeSettlementReference">Submit</button>
      </div>


    </div>
  </div>
</div>
<!-- Modal Ends -->

<div class="card">
  <div class="card-body">
    <h4 class="card-title">Shipping Payment Settlement</h4>
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-sm-4">
            <p>Shop</p>
            <div class="untitled-page-block2 layout">
              <input class="form-control" [(ngModel)]="CompanyNameSearch" type="text" placeholder="Shop Name"
                (keyup)="onCompanyNameType()">
            </div>
            <div class="form-group showlayout1">
              <a class="list-group-item list-group-item-ation" *ngFor="let dataItem of CompanyList?.slice(0,7)"
                (click)="onSelectName(dataItem)">{{dataItem.CompanyName}}</a>
            </div>
          </div>
          <div class="col-sm-2 pt-3">
        
              <p>&nbsp;</p>
              <label class="form-check-label">
                <input type="checkbox" [(ngModel)]="IsDeliveryChargeSettled" />
                Is Settled
              </label>
          
          </div>
          <div class="col-sm-4">
            <p>&nbsp;</p>
            <button type="button" class="btn btn-primary me-2" (click)="refreshSettlementList()">Search</button>
            <button type="button" class="btn btn-secondary text-white" (click)="clearFilters()">Clear</button>
          </div>
        </div>


        
          <!-- <div class="col-sm-9">

            <button type="button" class="btn btn-primary fa fa-file-excel-o mt-4 ms-2  excelbutton"
              data-bs-toggle="modal" [disabled]="submitsettlementlist.length ==0" data-bs-target="#exampleModal"
              data-backdrop="static" data-keyboard="false" (click)="saveclick()">Save</button>

          </div> -->
        <!-- <div class="row">  
          <div class="col-sm-3">
            <button type="button" class="export-btn btn fa fa-file-excel-o mt-4 ms-2  excelbutton"
              (click)="exportToExcel()">
              <i class="ti-file me-1"></i>Export to Excel</button>
          </div>

        </div> -->
        <div class="row mb-4 mt-2">
          <div class="col-md-6 col-sm-12 d-flex align-items-center ">
            <label for="itemsPerPage" class="mr-2">Items per page:&nbsp;</label>
            <select id="itemsPerPage" class="border rounded px-2 py-1" (change)="onItemsPerPageChange($event)">
              <option value="5" [selected]="itemsPerPage === 5">5</option>
              <option value="10" [selected]="itemsPerPage === 10">10</option>
              <option value="20" [selected]="itemsPerPage === 20">20</option>
              <option value="30" [selected]="itemsPerPage === 30">30</option>
            </select>
          </div>
          <div class="col-md-6 col-sm-12 d-flex justify-content-end">
            <button type="button" class="export-btn btn fa fa-file-excel-o excelbutton mt-2 md:mt-0" (click)="exportToExcel()" style="padding: 0px !important;">
              <i class="ti-file me-1"></i>Export to Excel
            </button>
          </div>
        </div> 

        <div class="section">
          <div class="table-responsive">
            <table id="show-settlement" class="table">
              <thead>
                <tr class="bg-primary text-white">
                  <th>Sr no</th>
                  <th>Order Date</th>
                  <th>Shop Name</th>
                  <th>Customer Name</th>
                  <th>Contact No</th>
                  <th>Email Id</th>
                  <th>Amount Payable</th>
                  <th>Order ID</th>
                  <th>Order Status</th>
                  <th>Order Price</th>
                  <th>Shipping Price</th>
                  <th>Total Price</th>
                  <th>Settled</th>
                  <th>Payment Ref</th>
                </tr>
              </thead>
              <tbody>
                 <tr *ngIf="settlementList.length == 0">
                <td colspan="14" class="text-center">No records found</td>
              </tr>
                <tr *ngFor="let dataItem of paginatedSettlement; let i = index;">
                  <td style="width: 70px;">{{ (currentPage - 1) * itemsPerPage + i + 1 }}</td>
                  <td>{{dataItem.OrderDate}}</td>
                  <td class="Settlement">{{dataItem.CompanyName}}</td>
                  <td class="Settlement">{{dataItem.CustomerName}}</td>
                  <td>{{dataItem.CompanyMobileNo1}}</td>
                  <td>{{dataItem.CompanyEmailid}}</td>
                  <td class="Settlement">{{currency}} {{dataItem.OrderPrice }}</td>
                  <td class="Settlement">{{dataItem.OrderID}}</td>
                  <td class="Settlement">{{dataItem.OrderStatusDescription}}</td>
                  <td>{{currency}} {{dataItem.OrderPrice }}</td>
                  <td>{{currency}} {{dataItem.ShippingPrice }}</td>
                  <td>{{currency}} {{dataItem.TotalOrderPrice }}</td>
                  <td> <input type="checkbox" [value]="dataItem.OrderID" [checked]="dataItem.IsDeliveryChargeSettled"
                      [disabled]="dataItem.IsDeliveryChargeSettled"
                      (change)="oncheckeddelivery($event,dataItem.TotalOrderPrice )"> </td>
                  <td><label type="text"> {{dataItem.DeliveryChargeSettlementReference.length == 0 ? '-' :
                      dataItem.DeliveryChargeSettlementReference }}</label></td>
                </tr>
              </tbody>
              <!-- <div class="col-sm-9">

                <button type="button" class="btn btn-primary fa fa-file-excel-o mt-4 ms-2  excelbutton"
                  data-bs-toggle="modal" [disabled]="submitsettlementlist.length ==0" data-bs-target="#exampleModal"
                  data-backdrop="static" data-keyboard="false" (click)="saveclick()">Save</button>

              </div> -->
            </table>
          </div>
          <div class="d-flex flex-column flex-md-row justify-content-between align-items-start align-items-md-center mt-3  px-md-4"><!-- px-3 -->
            <span class="text-muted mb-2 mb-md-0">
              Showing 
              {{ (currentPage - 1) * itemsPerPage + 1 }} 
              to 
              {{ min(currentPage * itemsPerPage, settlementList.length) }} 
              of 
              {{ settlementList.length }} entries
            </span>
          
            <nav>
              <ul class="pagination mb-0">
                <!-- Previous Button -->
                <li class="page-item" [class.disabled]="currentPage === 1">
                  <a class="page-link" (click)="changePage(currentPage - 1)"><<</a>
                </li>
            
                <!-- Page 1 -->
                <li class="page-item" [class.active]="currentPage === 1">
                  <a class="page-link" (click)="changePage(1)">1</a>
                </li>
            
                <!-- Ellipsis before middle pages -->
                <li class="page-item disabled" *ngIf="getMiddlePages()[0] > 2">
                  <span class="page-link">...</span>
                </li>
            
                <!-- Middle Pages -->
                <ng-container *ngFor="let page of getMiddlePages()">
                  <li class="page-item" [class.active]="currentPage === page">
                    <a class="page-link" (click)="changePage(page)">{{ page }}</a>
                  </li>
                </ng-container>
            
                <!-- Ellipsis after middle pages -->
                <li class="page-item disabled" *ngIf="getMiddlePages().includes(totalPages - 1) === false && totalPages > 5">
                  <span class="page-link">...</span>
                </li>
            
                <!-- Last Page -->
                <li class="page-item" *ngIf="totalPages > 1" [class.active]="currentPage === totalPages">
                  <a class="page-link" (click)="changePage(totalPages)">{{ totalPages }}</a>
                </li>
            
                <!-- Next Button -->
                <li class="page-item" [class.disabled]="currentPage === totalPages">
                  <a class="page-link" (click)="changePage(currentPage + 1)">>></a>
                </li>
              </ul>
            </nav>
            
          </div> 
        </div>
      </div>
    </div>
  </div>
</div>