<!-- Modal starts -->
<!-- <div class="modal fade" id="exampleModal" tabindex="-1" 
 role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ModalTitle}}</h5>
        
        <button type="button" class="btn btn-primary btn-rounded btn-icon" data-bs-dismiss="modal" aria-label="Close"  (click)="closeClick()">
          <i class="ti-close"></i>
        </button>
      </div>
      <app-add-edit-usertype [utype]="utype" (emitData)="emittedDataByChild($event)" *ngIf ="ActivateAddEditUsertypeComp">

      </app-add-edit-usertype>                   
    </div>
  </div>
</div> -->
<!-- Modal Ends -->
<!-- Modal starts -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel-2"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel-2">{{ ModalTitle }}</h5>

        <button
          type="button"
          class="btn btn-primary btn-rounded btn-icon"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="closeClick()"
        >
          <i class="ti-close"></i>
        </button>
      </div>
      <app-add-edit-usertype
        [utype]="utype"
        (emitData)="emittedDataByChild($event)"
        *ngIf="ActivateAddEditUsertypeComp"
      >
      </app-add-edit-usertype>
    </div>
  </div>
</div>
<!-- Modal Ends -->

<div class="card">
  <div class="card-body">
    <h4 class="card-title">User Types</h4>
    <div class="row">
      <div class="col-12">
        <div class="text-left">
          <button
            type="button"
            class="btn btn-primary btn-icon-text"
            (click)="addClick()"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
          >
            <i class="ti-plus"></i> Add
          </button>
        </div>
        <br />

        <div class="mb-3">
          <label for="itemsPerPage" class="mr-2">Items per page:&nbsp; </label>
          <select id="itemsPerPage" class="border rounded px-2 py-1" (change)="onItemsPerPageChange($event)">
            <option value="5" [selected]="itemsPerPage === 5">5</option>
            <option value="10" [selected]="itemsPerPage === 10">10</option>
            <option value="20" [selected]="itemsPerPage === 20">20</option>
            <option value="30" [selected]="itemsPerPage === 30">30</option>
          </select>
        </div>  

        <div class="table-responsive">
          <table id="order-listing" class="table">
            <thead>
              <tr class="bg-primary text-white">
                <th>Sr no</th>
                <th>User Type</th>
                <th style="text-align: center;">Status</th>
                <th style="text-align: center;">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let dataItem of paginatedUsertypeList;
                  let i = index;
                  let last = last
                "
              >
                <td style="width: 70px;">{{ (currentPage - 1) * itemsPerPage + i + 1 }}</td>
                <td>{{ dataItem.UserType }}</td>
                <td style="width: 70px;">
                  <button
                    (click)="Inactive(dataItem)"
                    type="button"
                    class="btn btn-outline-info btn-fw p-2"
                    *ngIf="dataItem.IsActive"
                  >
                    Active
                  </button>
                  <button
                    (click)="Active(dataItem)"
                    type="button"
                    class="btn btn-outline-danger btn-fw p-2"
                    *ngIf="!dataItem.IsActive"
                  >
                    Inactive
                  </button>
                </td>
                <td style="width: 70px;">
                  <button
                    class="btn btn-light"
                    data-bs-toggle="modal"
                    data-bs-target="#exampleModal"
                    data-backdrop="static"
                    data-keyboard="false"
                    (click)="editClick(dataItem)"
                  >
                    <i class="ti-pencil"></i>Edit
                  </button>
                </td>
                <!-- {{last ? bindDatatableTS() : ''}} -->
              </tr>
            </tbody>
          </table>
        </div>

        <div class="d-flex flex-column flex-md-row justify-content-between align-items-start align-items-md-center mt-3  px-md-4"><!-- px-3 -->
          <span class="text-muted mb-2 mb-md-0">
            Showing 
            {{ (currentPage - 1) * itemsPerPage + 1 }} 
            to 
            {{ min(currentPage * itemsPerPage, UsertypeList.length) }} 
            of 
            {{ UsertypeList.length }} entries
          </span>
        
          <nav>
            <ul class="pagination mb-0">
              <!-- Previous Button -->
              <li class="page-item" [class.disabled]="currentPage === 1">
                <a class="page-link" (click)="changePage(currentPage - 1)"><<</a>
              </li>
          
              <!-- Page 1 -->
              <li class="page-item" [class.active]="currentPage === 1">
                <a class="page-link" (click)="changePage(1)">1</a>
              </li>
          
              <!-- Ellipsis before middle pages -->
              <li class="page-item disabled" *ngIf="getMiddlePages()[0] > 2">
                <span class="page-link">...</span>
              </li>
          
              <!-- Middle Pages -->
              <ng-container *ngFor="let page of getMiddlePages()">
                <li class="page-item" [class.active]="currentPage === page">
                  <a class="page-link" (click)="changePage(page)">{{ page }}</a>
                </li>
              </ng-container>
          
              <!-- Ellipsis after middle pages -->
              <li class="page-item disabled" *ngIf="getMiddlePages().includes(totalPages - 1) === false && totalPages > 5">
                <span class="page-link">...</span>
              </li>
          
              <!-- Last Page -->
              <li class="page-item" *ngIf="totalPages > 1" [class.active]="currentPage === totalPages">
                <a class="page-link" (click)="changePage(totalPages)">{{ totalPages }}</a>
              </li>
          
              <!-- Next Button -->
              <li class="page-item" [class.disabled]="currentPage === totalPages">
                <a class="page-link" (click)="changePage(currentPage + 1)">>></a>
              </li>
            </ul>
          </nav>
          
        </div> 

      </div>
    </div>
  </div>
</div>
