<div class="container">
    <!-- <div class="frame4289-frame4289">-->
      <div class="frame4289-frame4288"> 
        <span class="frame4289-text"><span>Privacy Policy</span></span>
        <div class="frame4289-frame4290">
          <div class="frame4289-frame4287">
            <span class="frame4289-text02"><span>General</span></span>
            <span class="frame4289-text04">
              <span>
                <span>
                  This Website with the URL of www.jude.in
                  (&quot;Website/Site&quot;) is operated by Jude
                  Services Private Ltd. (&quot;We/Our/Us&quot;). If
                  you choose to use our Service, then you agree to the
                  collection and use of information in relation with this
                  policy.
                </span>
                <br />
                <span>
                  We collect your personal information in order to provide
                  and continually improve our products and services and do
                  not use or share this information with anyone else except
                  as described in this policy.
                </span>
                <br />
                <span>
                  We may update our Privacy policy from time to time; thus
                  we advise you to review this page periodically for any
                  changes. These changes are effective immediately, after
                  they are posted on this page.
                </span>
              </span>
            </span>
          </div>
          <div class="frame4289-frame42881">
            <span class="frame4289-text11"><span>Contact us</span></span>
            <span class="frame4289-text13">
              <span class="frame4289-text14">
                If you have any concern about privacy or grievances with us,
                please contact us at
              </span>
              <span class="frame4289-text15">info@jude.in</span>
              <span>
                with a thorough description and we will try to resolve the
                issue for you.
              </span>
            </span>
          </div>
        </div>
       </div>
   <!-- </div> -->
  </div>