<div class="modal-body">
  <form >
    <div class="form-group">
      <label for="recipient-name" class="col-form-label">Current Password:</label>
      <div class="password-wrapper">
        <input 
          [type]="currentPasswordVisible ? 'text' : 'password'" 
          class="form-control" 
          id="current-password" 
          name="currentPassword" 
          [(ngModel)]="CurrentPassword"
        />
        <span class="password-toggle-icon" (click)="toggleCurrentPasswordVisibility()">
          <i class="fas" [ngClass]="currentPasswordVisible ? 'fa-eye-slash' : 'fa-eye'"></i>
        </span>
      </div>
    </div>
    
    <div class="form-group">
      <label for="message-text" class="col-form-label">New Password:</label>
      <div class="password-wrapper">
        <input 
          [type]="newPasswordVisible ? 'text' : 'password'" 
          class="form-control" 
          id="new-password" 
          name="newPassword" 
          [(ngModel)]="NewPassword"
          (input)="validatePassword()"
        />
        <span class="password-toggle-icon" (click)="toggleNewPasswordVisibility()">
          <i class="fas" [ngClass]="newPasswordVisible ? 'fa-eye-slash' : 'fa-eye'"></i>
        </span>
      </div>
      <div *ngIf="passwordError" class="text-danger">
        {{ passwordError }}
      </div>
    </div>
  </form>     
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" [disabled]="!isPasswordValid" (click)="savePassword()">Save</button>
  <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
</div>
